.container {
  margin-left: 4rem;
  margin-top: 4rem;
  box-sizing: border-box;
  padding: 0;
  text-align: center;
  margin: 0;
  margin-top: 139px;
  font-size: 0;
  position: relative;
}

.container div span {
  width: 70px;
  height: 60px;
  border: 1px solid black;
  display: inline-block;
  text-align: center;
  color: white;
  margin: 0;
  font-size: 1rem;
}

.row_first span:nth-child(even) {
  background-color: rgb(8, 8, 9);
  color: black;
}
.row_first span:nth-child(odd) {
  background-color: rgb(160, 109, 45);
  color: rgb(160, 109, 45);
}
.row_second span:nth-child(odd) {
  background-color: rgb(16, 15, 14);
  color: black;
}

.row_second span:nth-child(even) {
  background-color: rgb(160, 109, 45);
  color: rgb(160, 109, 45);
}

.row_third span:nth-child(odd) {
  background-color: rgb(160, 109, 45);
  color: rgb(160, 109, 45);
}
.row_third span:nth-child(even) {
  background-color: rgb(8, 8, 8);
  color: black;
}
.row_fouth span:nth-child(odd) {
  background-color: rgb(8, 8, 8);
  color: black;
}
.row_fouth span:nth-child(even) {
  background-color: rgb(160, 109, 45);
  color: rgb(160, 109, 45);
}

.row_fifth span:nth-child(odd) {
  background-color: rgb(160, 109, 45);
  color: rgb(160, 109, 45);
}
.row_fifth span:nth-child(even) {
  background-color: rgb(8, 8, 8);
  color: black;
}
.row_sixth span:nth-child(odd) {
  background-color: rgb(8, 8, 8);
  color: black;
}
.row_sixth span:nth-child(even) {
  background-color: rgb(160, 109, 45);
  color: rgb(160, 109, 45);
}
.row_sevnth span:nth-child(odd) {
  background-color: rgb(160, 109, 45);
  color: rgb(160, 109, 45);
}
.row_sevnth span:nth-child(even) {
  background-color: rgb(8, 8, 8);
  color: black;
}
.row_eighth span:nth-child(odd) {
  background-color: rgb(8, 8, 8);
  color: black;
}
.row_eighth span:nth-child(even) {
  background-color: rgb(160, 109, 45);
  color: rgb(160, 109, 45);
}
* {
  margin: 0;
}
.container div span:hover {
  background-color: red;
}
h1 {
  text-align: center;
  margin-top: 40px;
}
